

<div class="flex-grid">
    <div class="col">
        <h3>Skills</h3>
        <ul id="skills" class="tags">
            <li>DevOps</li>
            <li>Software-Entwicklung</li>
            <li>Software-Architektur</li>
            <li>Domain-driven Design</li>
            <li>Infrastructure as code</li>
            <li>IT-Securtiy</li>
            <li>Projektmanagement</li>
            <li>IT-Consulting</li>
        </ul>
    </div>
    <div class="col">
        <h3>Technologie</h3>
        <ul id="tech" class="tags">
            <li>Ansible</li>
            <li>Linux</li>
            <li>Java</li>
            <li>Spring Boot</li>
            <li>PHP</li>
            <li>Docker</li>
            <li>Kubernetes</li>
            <li>Symfony-Framework</li>
            <li>Prometheus</li>
            <li>Grafana</li>
            <li>Jenkins</li>
            <li>Rundeck</li>
            <li>MySQL</li>
            <li>OpenNebula</li>
            <li>AWS</li>
            <li>Jmeter</li>
        </ul>
    </div>
</div>
<div id="resume">
    <h2 class="sub-headline">Berufserfahrung</h2>
    <div>
        <div class="row">
            <div>
                <p>
                    <b>develop4edu GmbH</b><br>
                    10/2014 - heute
                </p>
            </div>
            <div>
                <p>
                    <b>Software-Entwickler / Software-Architekt / DevOps Engineer</b>
                </p>
                <p>
                    Als Tochterunternehmen der Ernst Klett Verlag GmbH entwickelt develop4edu IT-Lösungen für die
                    Bildungsbranche. Im Team übernehme ich ein breites Feld an Aufgaben mit Fokus auf Backend-Services,
                    Hosting, DevOps Prozesse sowie Consulting und Projektleitung zu diesen Themen.
                </p>
                <p>Aufgabenbereiche:</p>
                <ul>
                    <li>Projektleitung Managed-Private-Cloud</li>
                    <li>Konzeption und Ausschreibung einer Managed-Private-Cloud</li>
                    <li>Aufbau und Betrieb automatisierter CI/CD Pipelines</li>
                    <li>Implementierung von Keycloak als Identity-Provider</li>
                    <li>Entwicklung von E-Commerce-Lösungen mit PHP/Symfony</li>
                    <li>Requirements Engineering</li>
                    <li>Konzeption und Durchführung von Performance-Tests</li>
                    <li>Anwendungsmonitoring mit Graylog und Prometheus</li>
                    <li>IT-Consulting für Fachbereiche des Verlags</li>
                </ul>
                <p>
                    <a href="https://www.develop4edu.de/" target="_blank">www.develop4edu.de</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div>
                <p>
                    <b>Autonetzer GmbH</b><br>
                    04/2013 - 10/2014
                </p>
            </div>
            <div>
                <p><b>PHP-Entwickler</b></p>
                <p>Über Autonetzer können Privatpersonen ihr Auto an andere Privatpersonen vermieten.
                Das Start-Up wurde Ende 2014 verkauft.</p>
                <p>Meine Aufgabe bestand in der Weiterentwicklung der Plattform mit PHP und Symfony, Refactoring
                    von Legacy Code und Performanceoptimierungen auf Basis meiner Bachelor-Thesis.</p>

            </div>
        </div>
        <div class="row">
            <div>
                <p>
                    <b>Autonetzer GmbH</b><br>
                    11/2012 - 04/2013
                </p>
            </div>
            <div>
                <p><b>Bachelor Thesis</b>
                    <br>Thema: Performance-Analyse und Optimierung von Webanwendungen am Beispiel autonetzer.de
                </p>
            </div>
        </div>
        <div class="row">
            <div>
                <p>
                    <b>Wichteldesign</b><br>
                    09/2007 - 04/2016
                </p>
            </div>
            <div>
                <p>
                    <b>Freelancer Webentwicklung</b><br>
                    Freiberuflicher Webentwickler mit Schwerpunkt PHP und Contao
                </p>
            </div>
        </div>

    </div>


    <h2 class="sub-headline">Ausbildung</h2>
    <div class="flex-grid">
        <div class="col">
            <h3>Akademische Laufbahn</h3>
            <p>
                <b>Hochschule Reutlingen / Reutlingen University</b><br>
                09/2009 - 07/2013 <br>
                Medien- und Kommunikationsinformatik <br>
                Abschluss: Bachelor of Science (1,9)
            </p>
            <p>
                <b>Hochschule Esslingen</b><br>
                09/2007 - 07/2009<br>
                Software- und Medieninformatik <br>
            </p>
        </div>
        <div class="col">
            <h3>Weiterbildungen</h3>
            <ul>
                <li>IT-Projektmanagement - Projektleiter Baustein A</li>
                <li>Führen ohne Vorgesetzter zu sein</li>
            </ul>
        </div>
    </div>
</div>