RewriteEngine on

RewriteCond %{HTTP_HOST} !=www.flxpeters.de
RewriteRule (.*) https://www.flxpeters.de/$1 [R=301,L]

RewriteCond %{HTTPS} !=on
RewriteCond %{ENV:HTTPS} !=on
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

